.characterContainer {
    padding: 20px;
    background-color: #f0f0f0; /* Fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
  }
  
  .characterDetails {
    margin-bottom: 30px;
    background-color: #ffffff; /* Fondo blanco para el detalle */
    padding: 15px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-left: 20px;
  }
  
  .characterImage {
    max-width: 250px; /* Tamaño máximo de la imagen */
    border-radius: 10px; /* Esquinas redondeadas */
  }
  
  .title {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 20px;
  }

  
  .characterInfo {
    margin-top: 20px;
    padding-left: 5%;
  }
  .botones {
    margin-left: 150px!important;
    padding-left: 50%;
  }
  
  
  .episodeGrid {
    margin-top: 30px;
  }
  
  .episodeCard {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
  }
  